.App {
  text-align: center;
}

h1 {
  font-size: 70px;
  margin-top: 20px;
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  border: 0;
  margin: 20px;
  cursor: pointer;
}

form {
  font-size: 30px;
}

input {
  margin: 15px;
  padding: 10px;
  font-size: 20px;
}

label {
  display: block;
}
